@import url("reset.css");
@import url(fonts.css);


.wrapper {
	background-color: #333;
	color: #fff;
	min-height: 100%;
	overflow: hidden;
}

.header__container,
.footer__container {
	font-family: 'Le Murmure', sans-serif;
	padding: 15px;
}

.header__title {
	font-size: 50px;
	letter-spacing: 5px;
	text-align: center;
}

.footer {
	position: relative;
}

.footer__text {
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
}

.box {
	width: auto;
	height: 800px;
	margin-bottom: 30px;
}

/* background ================ */



.road {
	position: relative;
}

.detail {
	position: absolute;
	inset-block-start: 60px;
	inset-inline-start: 100px;
}

.detail {
	animation: vibro 0.7s linear infinite alternate,
	jump 1.3s linear running 3.3s,
	top-stop 0.7s infinite running 3.5s forwards alternate,
	bottom-stop 4s running 9.5s forwards alternate;
}

@keyframes vibro {
	0% {
		top: 60px;
	}
	100% {
		top: 40px;
	}
}

@keyframes jump {
	0% {
		transform: rotate(0deg);
		top: 60px;
	}
	20% {
		transform: rotate(3deg);
		top: 30px;
	}
	25% {
		transform: rotate(4deg);
		top: 20px;
	}
	60% {
		transform: rotate(3deg);
		top: 20px;
	}
	80% {
		transform: rotate(1deg);
		top: -20px;
	}
	100% {
		transform: rotate(2deg);
		top: 40px;
	}
}

@keyframes top-stop {
	0% {
		top: 40px;
		transform: rotate(2deg);
	}
	100% {
		top: -30px;
		transform: rotate(-2deg);
	}
}

@keyframes bottom-stop {
	0% {
		inset-block-start: 30px;
		inset-inline-start: 100px;
	}

	100% {
		inset-block-start: 90px;
		inset-inline-start: 1200px;
	}
}

.road__wrapper {
	position: absolute;
	width: 1200px;
	height: 800px;
	overflow: hidden;
	inset-inline: 50%;
	transform: translate(-50%);
}

.img__road,
.img__road-move {
	width: 100%;
	height: 800px;
	position: absolute;
}

.img__road {
	left: -100%;
}

.img__road-move {
	will-change: transform;
	animation: move 2s linear 6 ;
}

.img__road {
	will-change: transform;
	animation: move 2s linear 6 ;
}

@keyframes move {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes move-and {
	0% {
		background-color: #06050a00;
	}
	100% {
		background-color: #06050a;
	}
}

.and {
	position: relative;
}

.and__color {
	position: absolute;
	width: 100%;
	height: 800px;
	animation: move-and 2.5s running 12.5s forwards;
	
}

.and__text {
	position: absolute;
	font-family: 'Le Murmure', sans-serif;
	font-size: 0px;
	letter-spacing: 5px;
	text-transform: capitalize;
	left: 50%;
	transform: translate(-50%);
	top: 300px;
	animation:
		text-and 3s running 12.5s;
}

@keyframes text-and {
	0% {
		font-size: 0px;
	}
	100% {
		font-size: 100px;
	}
}

/* car ====================== */

.wheel-left {
	position: absolute;
	inset-block-start: 472px;
	inset-inline-start: 205px;
	width: 111px;
	height: 115px;
	border-radius: 50%;
	border: dashed 3px #070007;
	background: linear-gradient(165deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(170deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(175deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(180deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(185deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(190deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(195deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	radial-gradient(ellipse farthest-corner at 50% 50%, rgba(137, 149, 163, 1) 35.5%, rgba(187, 192, 206, 1) 50.1%, rgba(137, 149, 163, 1) 65.9%);
	animation: rotate 1s linear infinite,
	wheel-left-dell 1.8s linear running 3.7s forwards;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes wheel-left-dell {
	0% {
		inset-block-start: 472px;
		inset-inline-start: 205px;
	}
	100% {
		inset-block-start: 300px;
		inset-inline-start: 1200px;
	}
}

.wheel-left__disk{
	position: absolute;
	width: 58px;
	height: 57px;
	border-radius: 50%;
	border: solid 2px #070007;
	background: radial-gradient(circle closest-side at 50% 50%, rgba(186, 32, 57, 1) 49.7%, rgba(231, 76, 134, 1) 76.9%, rgba(186, 32, 57, 1) 100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel-left__bolt{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: solid 2px #070007;
	background: radial-gradient(circle closest-side at 50% 50%, rgba(233, 248, 246, 1) 37.3%, rgba(137, 149, 163, 1) 90.8%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel-right {
	position: absolute;
	inset-block-start: 430px;
	inset-inline-start: 641px;
	width: 152px;
	height: 155px;
	border-radius: 50%;
	border: dashed 3px #070007;
	background:
	linear-gradient(160deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(165deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(170deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(175deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(180deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(185deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	linear-gradient(190deg, rgba(2, 0, 36, 0) 49%, rgba(0, 0, 6, 0.2) 50%, rgba(0, 0, 6, 0) 51%),
	radial-gradient(ellipse farthest-corner at 50% 50%, #8995a3 35.5%, #bbc0ce 50.1%, rgba(137, 149, 163, 1) 65.9%);
	animation: rotate 1.5s linear infinite,
	wheel-right-dell 1.8s linear running 9s forwards;
}

@keyframes wheel-right-dell {
	0% {
		inset-block-start: 430px;
		inset-inline-start: 641px;
	}

	100% {
		inset-block-start: 430px;
		inset-inline-start: 1200px;
	}
}

.wheel-right__disk{
	position: absolute;
	width: 71px;
	height: 70px;
	border-radius: 50%;
	border: solid 2px #070007;
	background: radial-gradient(circle closest-side at 50% 50%, rgba(186, 32, 57, 1) 49.7%, rgba(231, 76, 134, 1) 76.9%, rgba(186, 32, 57, 1) 100%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wheel-right__bolt{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: solid 2px #070007;
	background: radial-gradient(circle closest-side at 50% 50%, rgba(233, 248, 246, 1) 37.3%, rgba(137, 149, 163, 1) 90.8%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* +++++++++++++++++++ */

.num {position: absolute;
	inset-block-start: 477px;
	inset-inline-start: 483px;
	width: 90px;
	height: 62px;
	border-radius: 50%;
	border: solid 2px #070007;
	background: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(246, 240, 244, 1) 24.5%, rgba(246, 240, 244, 1) 47.8%, rgba(140, 136, 139, 1) 65.4%, rgba(0, 0, 0, 1) 84.2%);
	animation:
	num-swing 0.7s infinite running 4s alternate,
	num-dell 1.8s linear running 7s forwards;
}

.num__text {
	position: absolute;
	font-family: "Gilroy", sans-serif;
	color: #06050a;
	font-size: 45px;
	font-weight: 900;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes num-swing {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes num-dell {
	0% {
		inset-block-start: 477px;
		inset-inline-start: 483px;
	}

	100% {
		inset-block-start: 477px;
		inset-inline-start: 1200px;
	}
}

/* +++++++++++++++++++ */

.detail__back-1 {
	position: absolute;
	inset-block-start: 408px;
	inset-inline-start: 620px;
	perspective: 420px;
	perspective-origin: bottom; 
}
.detail__back-1--transform {
	width: 180px;
	height: 139px;
	background: linear-gradient(180deg, rgba(203, 9, 88, 1) 15%, rgba(236, 94, 152, 1) 44%, rgba(236, 94, 152, 1) 60%, rgba(236, 94, 152, 1) 70%, rgba(203, 9, 88, 1) 99%);
	transform: rotatey(42deg); 
	border-top: solid 4px #070007;
	border-bottom: solid 2px #070007;
	border-radius: 50% / 3% 1% 0% 0%;
}

.detail__back-2 {
	position: absolute;
	inset-block-start: 449px;
	inset-inline-start: 735px;
	perspective: 325px;
	perspective-origin: bottom;
}
.detail__back-2--transform {
	width: 204px;
	height: 80px;
	background: linear-gradient(180deg, rgba(203, 9, 88, 1) 14%, rgba(236, 94, 152, 1) 44%, rgba(236, 94, 152, 1) 60%, rgba(236, 94, 152, 1) 70%, rgba(203, 9, 88, 1) 99%);
	transform: rotatey(56deg);
	border-top: solid 4px #070007;
	border-bottom: solid 3px #070007;
	border-right: solid 6px #070007;
	border-radius: 50% / 3% 20% 30% 0%;
}

.detail__back-3 {
	position: absolute;
	inset-block-start: 511px;
	inset-inline-start: 860px;
	animation:
	detail-pipe 2s linear running 6s forwards,
	rotate 1s running 6s infinite;
}
.detail__back-3--transform {
	width: 60px;
	height: 13px;
	background: linear-gradient(180deg, rgba(168, 206, 209, 1) 20%, rgb(109, 109, 109) 75%);	transform: rotate(-5deg);
	border: solid 2px #070007;
	border-radius: 4px;
}

@keyframes detail-pipe {
	0% {
		inset-block-start: 511px;
		inset-inline-start: 860px;
	}

	100% {
		inset-block-start: 511px;
		inset-inline-start: 1200px;
	}
}

.detail__back-4 {
	position: absolute;
	inset-block-start: 408px;
	inset-inline-start: 600px;
}

.detail__back-4--transform {
	width: 75px;
	height: 50px;
	background: linear-gradient(55deg,rgba(236, 94, 152, 1) 5%, rgba(236, 94, 152, 1) 20%, rgba(203, 9, 88, 1) 60%);
	transform: rotate(-65deg);
	border-radius: 0% 4% 0% 0%/ 0px 3px 0px 0px;
	border-top: solid 3px #070007;
}

.detail__back-5 {
	position: absolute;
	inset-block-start: 416px;
	inset-inline-start: 579px;
}
.detail__back-5--transform {
	width: 76px;
	height: 15px;
	background: radial-gradient(ellipse farthest-side at 50% 50%, rgba(150, 39, 58, 1) 10%, rgba(108, 39, 46, 1) 80.4%);
	transform: rotate(-64deg);
	border-radius: 50%;
	border: solid 3px #070007;
}


/*+++++++++++++++++++ */

.detail__front-1 {
	position: absolute;
	inset-block-start: 470px;
	inset-inline-start: 105px;
	perspective: 200px;
	perspective-origin: bottom;
}
.detail__front-1--transform {
	width: 226px;
	height: 83px;
	background: linear-gradient(180deg, rgba(203, 9, 88, 1) 14%, rgba(236, 94, 152, 1) 44%, rgba(236, 94, 152, 1) 63%, rgba(236, 94, 152, 1) 70%, rgba(203, 9, 88, 1) 99%);
	transform: rotatey(-41deg);
	border-radius: 50% 50% 50% 50%/ 10px 10px 1px 10px;
	border-bottom: solid 3px #070007;
	border-top: solid 4px #070007;
	border-left: solid 4px #070007;
}

.detail__front-2 {
	position: absolute;
	inset-block-start: 498px;
	inset-inline-start: 144px;
}
.detail__front-2--transform {
	width: 25px;
	height: 49px;
	background: radial-gradient(ellipse closest-corner at 50% 50%, rgb(169, 183, 255) 0%, rgb(182, 194, 252) 36.9%, rgba(182, 222, 232, 1) 77.3%);
	border-radius: 50% ;
	border: solid 2px #070007;
}

.detail__front-3 {
	position: absolute;
	inset-block-start: 450px;
	inset-inline-start: 331px;
}
.detail__front-3--transform {
	width: 70px;
	height: 50px;
	background: linear-gradient(146deg, rgba(203, 9, 88, 1) 20%, rgba(236, 94, 152, 1) 65%, rgba(236, 94, 152, 1) 90%);
	transform: rotate(37deg);
	border-radius: 50% 0% 0% 0%/ 3px 0px 0px 0px;
	border-top: solid 3px #070007;
}


/* +++++++++++++++++++ */

.detail__middle-1 {
	position: absolute;
	inset-block-start: 469px;
	inset-inline-start: 320px;
	perspective: 200px;
	perspective-origin: bottom;
}
.detail__middle-1--transform {
	width: 300px;
	height: 83px;
	background: linear-gradient(180deg, rgba(203, 9, 88, 1) 2%, rgba(236, 94, 152, 1) 15%, rgba(236, 94, 152, 1) 50%, rgba(203, 9, 88, 1) 90%);
	transform: rotatey(-15deg);
	border-radius: 50%/ 0px 0px 7px 0px;
	border-bottom: solid 4px #070007;
	border-top: solid 3px #070007;
}


/* +++++++++++++++++++ */

.steer{
	position: absolute;
	inset-block-start: 454px;
	inset-inline-start: 381px;
	transform: rotate(-4deg);
}

.steer__rack {
	width: 50px;
	height: 8px;
	background: linear-gradient(180deg, rgba(70, 70, 70, 1) 10%, rgba(7, 0, 7, 1) 70%);
}

.steer__wheel {
	width: 9px;
	height: 40px;
	background: linear-gradient(270deg, rgba(240, 245, 239, 1) 20%, rgba(176, 176, 176, 1) 50%);
	border: solid 2px #070007;
	border-radius: 2px;
	transform: matrix(1, 0, 0, 1, 50, -25);
}

.cabin__glass {
	position: absolute;
	inset-block-start: 403px;
	inset-inline-start: 363px;
	perspective: 150px;
	perspective-origin: bottom;
	transform: rotate(-50deg);
	animation: 
	glass-dell 2.5s linear running 4.2s forwards,
	rotate 0.5s running 4.2s infinite;
}
.cabin__glass--transform {
	width: 40px;
	height: 130px;
	background: linear-gradient(180deg, rgba(180, 208, 255, 0.849) 10%, rgba(180, 208, 255, 0.603) 70%);
	border-top: solid 1px #070007;
	border-right: solid 1.5px #070007;
	transform: rotatex(-93deg);
	border-radius: 0px 2px 7px 0px / 50%;
}	

@keyframes glass-dell {
	0% {
	inset-block-start: 403px;
	inset-inline-start: 363px;
	}
	100% {
	inset-block-start: 100px;
	inset-inline-start: 1200px;
	}
}

.wolf__block {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 220px;
	left: 300px;
	background: no-repeat url(../img/wolf-not-tail.png) 0 0/ contain;
	transform: scale(1.06);
}

.wolf-tail__block {
	width: 400px;
	height: 300px;
	position: absolute;
	inset-block-start: 220px;
	inset-inline-start: 300px;
	background: no-repeat url(../img/wolf-tail.png) 0 0/ contain;
	transform: scale(1.06);
	animation: 
	wolf-tail-dell 2.2s running 8s forwards,
	rotate 3s running 8s forwards;
}

@keyframes wolf-tail-dell {
	0% {
		inset-block-start: 220px;
		inset-inline-start: 300px;
	}

	100% {
		inset-block-start: 220px;
		inset-inline-start: 1200px;
	}
}


/* brick ======================= */

.brick {
	position: absolute;
	left: -100px;
	top: 618px;
}

.brick {
	animation: brick-move 2s linear running 3s;
	transform: scale(0.8);
}

@keyframes brick-move {
	0% {
		left: -100px;
	}
	100% {
		left: 1200px;
	}
}

.brick__top {
	position: relative;
	width: 70px;
	height: 10px;
	left: 6px;
	background-color: #eda06a;
	transform: skew(-50deg);
}

.brick__front {
	position: relative;
	/* top: 15px; */
	width: 70px;
	height: 18px;
	background-color: #95482c;
	border: solid 0.1px #8f310f;
	box-sizing: border-box;
}

.brick__side {
	position: relative;
	top: -23px;
	left: 70px;
	width: 12px;
	height: 18px;
	background-color: #dc8e5d;
	transform: skew(0deg, -40deg);
}
