@import url("reset.css");
@import url(fonts.css);
@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	background-color: #28293e;
	font-family: "Epilogue", sans-serif;
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
	/* overflow: hidden; */
}
.wrapper > main {
	flex-grow: 1;
}
.wrapper > footer {
	font-family: 'Le Murmure', sans-serif;
	padding: 15px;
	text-align: center;
}
.header__title {
	font-size: 35px;
	letter-spacing: 2px;
}
.footer__text {
	font-size: 25px;
	letter-spacing: 2px;
}

/* --------------------- */

[class *="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 15px;
}

/* --------------------- */


.header {
	min-height: 70px;
	margin-bottom: 100px;
	
}

.header__container {
	display: flex;
	width: 100%;
	column-gap: 30px;
	row-gap: 10px;
	justify-content: space-between;
	align-items: center;
	padding-block: 10px;
}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	background-color: #28293e;
	border-bottom: 0.2px solid #242538;
	z-index: 10;
}

@media (max-width: 768px) {
	.header__container {
		min-height: 65px;
	}
}

.header__logo {
	flex-basis: 155px;
	position: relative;
	z-index: 5;
}

.header__menu {
	flex-basis: 515px;
}

.menu {
}

.menu__body {
}

@media (max-width: 645px) {
	.header__container {
		min-height: 65px;
	}
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	row-gap: 5px;
	flex-wrap: wrap;
} 

.menu__item {}

.menu__link {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	text-transform: capitalize;
	transition: all 0.2s;
}

.active {
	text-decoration: 1px underline rgba(255, 255, 255, 0.30);
	text-underline-offset: 5px;
}

@media (max-width: 645px) {
	.menu__link {
		font-size: 24px;
	}
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		padding: 100px 15px 30px;
		background-color: #4c4c5a;
		overflow: auto;
		transition: inset-inline-start 0.3s;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		block-size: 65px;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		background-color: #28293e;
		z-index: 3;
		transition: inset-inline-start 0.3s;
	}
	.menu__list {
		flex-direction: column;
		border: none;
		background-color: transparent;
		align-items: flex-end;
		row-gap: 20px;
	}
} 

@media (any-hover: hover) {
	.menu__link:hover {
		padding: 5px 15px;
		border-radius: 6px;
		border: 1px solid rgba(255, 255, 255, 0.30);
		background-color: #4c4c5a;
		transition: all 0.3s;
	}
	.button:hover {
		border: 1px solid rgba(255, 255, 255, 0.30);
		background-color: #4c4c5a;
		transition: all 0.3s;
	}
}

.header__actions {
	flex-basis: 155px;
	display: flex;
	justify-content: right;
	
}

@media (max-width: 645px) {
	.header__actions {
		display: flex;
		justify-content: flex-end;
		gap: 5px;
	}
}

.actions-header {
	position: relative;
	z-index: 5;
}

.button {
	height: 48px;
	padding: 18px 25px;
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.30);
	text-align: center;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
}

.button--red {
	background: #EF6D58;
}

.button--no-active{
		font-size: 16px;
		font-weight: 400;
		text-transform: capitalize;
		border: none;
}

@media (max-width: 645px) {
	.actions-header {
		display: flex;
	}
}

.actions-header__menu span,
.actions-header__menu::before,
.actions-header__menu::after {
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #fff;
	transition: all 0.3s;
}

.open-menu .actions-header__menu {
	justify-content: center;
}

.open-menu .menu__body,
.open-menu .menu__body::before {
	inset-inline-start: 0;
}

.actions-header__menu,
.open-menu .actions-header__menu span {
	display: none;
}

.open-menu .actions-header__menu::before {
	transform: rotate(45deg) translateY(1px);
}

.open-menu .actions-header__menu::after {
	transform: rotate(-45deg) translateY(-1px);
}

@media (max-width: 645px) {
	.actions-header__menu {
		display: flex;
		width: 48px;
		height: 48px;
		flex-direction: column;
		flex-shrink: 0;
		justify-content: space-between;
		border-radius: 6px;
		border: 1px solid rgba(255, 255, 255, 0.30);
		text-align: center;
		padding: 15px;
		
	}
}


/* main */


.main {}

.main__container {
	margin-bottom: 50px;
}

.home-page {}

.home-page__content {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	row-gap: 40px;
	padding-bottom: 40px;
	flex-wrap: wrap;
	
}


@media (min-width: 910px) {
	.home-page__content {
		flex-wrap: nowrap;
	}
}

@media (max-width: 910px) {
	.home-page__content,
	.home-page__merchant {
		justify-content: center;
	}
}

.home-page__text>:not(:last-child) {
	margin-bottom: 30px;
}

.home-page__text {
	flex-basis: 515px;
}

.home-page__subtitle {
	color: #EF6D58;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.home-page__title {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.111;
	letter-spacing: -2px;
	position: relative;
}

.home-page__title::before {
	content: "";
	width: 148px;
	height: 148px;
	background: no-repeat url(../img/star.svg) 0 0 / cover;
	position: absolute;
	top: -30px;
	right: 90px;
	z-index: -1;
}

@media (max-width: 1145px) {
	.home-page__title {
			font-size: 50px;
		}
}

.home-page__info {
	color: rgba(255, 255, 255, 0.64);
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
}

.home-page__image {
}

.home-page__image > img {
	max-width: 100%;
}

.home-page__merchant {
	display: flex;
	gap: 25px;
}

.merchant__image {
	flex-basis: 38px;
	height: 43px;
	align-self: center;
}

.merchant__text {
}

.merchant__info {
	color: rgba(255, 255, 255, 0.64);
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
}

.home-page__buttons {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	flex-wrap: wrap;
}

.merchant__inc {
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
}
