@import "_reset.scss";
// @import "_fonts.scss";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

body {
	font-family: "Manrope", sans-serif;
	color: #fff;
	background: #141414;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}
.wrapper > main {
	flex-grow: 1;
}
.wrapper > header,
footer {
}
.header__text {
}
.footer__text {
}

/* --------------------- */

[class*="__container"] {
	max-width: calc(1600px + 30px);
	margin: 0 auto;
	padding-inline: 15px;
}
